body {
	width: 80%;
	margin: auto;
	
	background-color: #eee;
	
	font-family: sans-serif;
	color: #333;
}

header div.logo {
	font-size: 3em;
	display: inline-block;
}

.ui-accordion .ui-accordion-header {
	/*background-color: #ddd;*/
}
