body {
	width: 80%;
	margin: auto;
	
	background-color: #eee;
	
	font-family: sans-serif;
	color: #333;
}

.logo {
	font-size: 3em;
	display: inline-block;
}

.ui-dashboard-column {
	width:33%;
}

.ui-layout-unit .ui-layout-unit-content {
	overflow: visible;
}